body {
	/*background-color: #4CAF50*/;
	background-image: url('../images/cloth_alike.png')
}

.container-messages {
	/*border-radius: 10px;*/
	background: rgba(244, 98, 66, 0.5);

	text-align: center;
	vertical-align: middle;

	width: 100%;
	height: 50px;

	padding: 5px;
}

.container {
	text-align: center;
	padding-top: 100px;
}

.login-form {
   border-radius: 10px;
   /*background-color: #f2f2f2;*/
   background: rgba(242, 242, 242, .6);

   padding: 20px;

   width: 350px;
   height: 350px;

   display: inline-block;

   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.register-form {
   border-radius: 10px;
   /*background-color: #f2f2f2;*/
   background: rgba(242, 242, 242, .6);

   padding: 20px;

   width: 400px;
   height: 450px;

   display: inline-block;

   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.registration-table td, tr {
	padding-top: 10px;
    padding-bottom: 10px;
}

.submit-button {
    /*width: 100%;*/
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button {
	width: 100px;
    background-color: rgb(244, 98, 66);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

/* header */

.header-container {
	text-align: center;
	vertical-align: middle;
	/*line-height: 90px;  */
}

#header-text {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;*/

	/*font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 0 0 24px;*/

	/*font: 600 1.5em/1 'Raleway', sans-serif;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,.5);
    /*text-align: center;*/
    text-transform: uppercase;
    font-size: 30;
}

/* message list */
.list-no-bullets {
	list-style-type: none;
}

#secret-message {
	font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  	color: #2b2b2b;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  	font-size: 60;
}

.container-secret {
	text-align: center;
}

.navigation-menu {
	font-size: 15;
	font: Helvetica, sans-serif;
}

/* navigation bar */
.navigation-menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation-menu li {
	float: left;
}

.navigation-menu li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-menu li a:hover {
	background-color: #111;
}