<html>
  <head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>

    <script>
        setTimeout(function() {
          $('#container-messages').fadeOut('fast');
        }, 1000); // <-- time in milliseconds
    </script>

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to this super cool site</title>
    {% endif %}

    <div class="header-container">
      <span id="header-text">Server-Side Template Injection Vulnerability Demo</span>
    </div>
  </head>

  <body>
    {# <div>Super cool site: <a href="/login">Home</a></div> #}
    
    <div class="navigation-menu">
      <ul>
        <li><a href="/login">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>

    <hr>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="container-messages">
              <ul class="list-no-bullets">
              {% for message in messages %}
                  <li>{{ message }} </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>