{% extends "base.html" %}
{% block content %}
    <h1>Hello, {{ user.username }}!</h1>
    {% if friends %}
            <div>Friends list</div>
                {% for friend in friends %}
                        <p>{{ friend }}</p>
                {% endfor %}
            </div>
        {% else %}
            <p>You don't have any friends yet - make some!</p>
        {% endif %}
{% endblock %}