{% extends "base.html" %}

{% block content %}
{% if session['logged_in'] %}
      <p>You're logged in already!</p>
{% else %}
	<div class="container">
		<div class="login-form">
	      <form action="/login" method="POST">
	        {{ form.username.label }}

	        {{ form.username }}

	        {# <input type="username" name="username" placeholder="Username"> #}
	        <br><br>
	        {{ form.password.label }}
	        {{ form.password }}

	        {# <input type="password" name="password" placeholder="Password"> #}
	        <br><br>
	        <input type="submit" class="submit-button" value="Log in">
	        <br><br>
	        <span><a href="#">Need help?</a></span>
	        <span><a href="/register">New Registration</a></span>
	      </form>
	    </div>
	</div>
{% endif %}
{% endblock %}