{% extends "base.html" %}

{% block content %}
	<form action="/register" method="POST">
		<div class="container">
			<div class="register-form">
				<h2>Register a new user</h2>
				
				<br>

				<table class="registration-table">
					<tr>
						<td>{{ form.name.label }}</td>
						<td>{{ form.name }}</td>
					</tr>

					<tr>
						<td>{{ form.email.label }}</td>
						<td>{{ form.email }}</td>
					</tr>

					<tr>
						<td>{{ form.username.label }}</td>
						<td>{{ form.username }}</td>
					</tr>

					<tr>
						<td>{{ form.password.label }}</td>
						<td>{{ form.password }}</td>
					</tr>
				</table>	

				<br>
				
				<input type="submit" class="submit-button" value="Register">
				
			</div>
		</div>
	</form>
{% endblock %}