{% extends "base.html" %}

{% block content %}
	<div class="container-secret">
		<img src="../static/images/secret.png"><br><br>
		<span id="secret-message">Shhh, this is the secret page for user {{ user.username }}</span><br><br>
		{# <a href="/logout">Logout?</a> #}
		<a href="/logout"><button class="logout-button" value="Logout?">Logout?</button>
	</div>
{% endblock %}